body {
  padding: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #070e06;
}
h1 {
  color: rgb(255, 0, 174);
}
p {
  color: rgb(255, 0, 174);
}
div {
  color: white;
  font-size: 20px;
  border-radius: 60px;
  background: rgb(255, 0, 174);
  padding: 10px; 
  font-weight: bold;
  margin-top:20px;
  text-transform: uppercase;
}